<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href=/assets/style.css type=text/css rel=stylesheet />
    <title>Usuarios</title>
</head>
<body>
    <!--Tabla con el contenido de la coleccion de MongoDB-->
    <div id="titulo">
        <p>Catalogo de usuarios</p>
    </div>
    <div id="main-container">
        <table>
            <tr>
                <th>Nombre</th>
                <th>Correo</th>
                <th>Clave</th>
                <th></th>
                <th></th>
            </tr>
            <% Object.keys(Users).forEach(function(prop) { %>
                <tr>
                    <td><%= Users[prop].name %></td>
                    <td><%= Users[prop].email %></td>
                    <td><%= Users[prop].password %></td>
                    <!-- Se redirecciona hacia la vista que permite editar y eliminar el documento de la coleccion-->

                    <!-- Se usan dos cosas: la ruta y el parametro para buscar el documento de la coleccion y 
                    mostrarlo en el documento para su edicion -->
                    <td><a href="<%= `findById/${Users[prop]._id}` %>">Editar</a></td> <!--Editar-->
                    <td><a href="<%= `deleteUser/$´{Users[prop]._id}` %>">Borrar</a></td> <!--Eliminar-->
                </tr>
        <%});%>
        </table>
    </div>
    <div id="agregarUsuario">
        <a href="addUser">Agregar</a> <!-- ruta al formulario (endpoint) -->
    </div>
    
</body>
</html>